---

---

<script>
    import { migrateConfig } from "../../../../lib/4-to-5-config-migrator";

    const cfgForm = document.querySelector("#cfg-form");
    const cfgNew = document.querySelector("#cfg-new") as HTMLElement;

    if (!cfgForm || !cfgNew) {
        throw "Form or new config element not found";
    }

    cfgForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const formdata = new FormData(cfgForm as HTMLFormElement);
        const oldCfg = formdata.get("cfg-input");

        const newCfg = migrateConfig(oldCfg as string);

        if (!newCfg) {
            alert("Your configuration seems to be invalid.");
            return;
        }

        cfgNew.textContent = newCfg;
        cfgNew.style.display = "block";
    });
</script>

<form id="cfg-form" class="cfg-form">
    <div class="cfg-form-io-container">
        <textarea name="cfg-input" class="cfg-input" spellcheck="false"
            >PORT=8080&#13;&#10;--address=0.0.0.0</textarea
        >
        <pre
            id="cfg-new"
            class="cfg-new">TINYAUTH_SERVER_PORT=8080<br />--server.address=0.0.0.0</pre>
    </div>
    <button id="cfg-submit" type="submit" class="cfg-submit">Migrate</button>
</form>
