:root {
    --sl-hue-base: 140;
}

:root {
    --sl-color-accent: #fafafa;
    --sl-color-accent-high: #f5f5f5;
}

:root[data-theme="light"] {
    --sl-color-accent: #171717;
    --sl-color-accent-high: #0a0a0a;
}

.site-title {
    gap: 0.5rem;
}

.site-title img {
    height: 2rem;
}

td,
th {
    padding-left: 0.5rem;
}

.sl-banner {
    background-color: var(--sl-color-blue-low);
    border: 1px solid var(--sl-color-blue);
    color: var(--sl-color-blue-high);

    a {
        color: var(--sl-color-blue-accent);
        text-underline-offset: 0.25em;

        &:is(:hover, :focus-visible) {
            color: var(--sl-color-blue-accent-invert);
        }
    }
}
