---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Card } from "@astrojs/starlight/components";
---

<script>
    import { getInstances } from "../lib/get-instances";
    import { CountUp } from "countup.js";

    class InstancesCount extends HTMLElement {
        connectedCallback() {
            async function updateData() {
                const instances = await getInstances();
                const counter = new CountUp("instances-count", instances.total);
                if (!counter.error) {
                    counter.start();
                } else {
                    console.error(counter.error);
                }
            }
            updateData();
        }
    }

    customElements.define("instances-count", InstancesCount);
</script>

<StarlightPage
    frontmatter={{
        title: "Home",
        description:
            "The simplest way to protect your apps with a login screen.",
        template: "splash",
        banner: {
            content:
                "Tinyauth v5 is out! Check out how to upgrade in the <a href='/docs/breaking-updates/4-to-5'>migration guide</a>.",
        },
    }}
>
    <div class="home-container">
        <h1 class="home-title">Tinyauth</h1>
        <p class="home-description">
            Tinyauth is a tiny OpenID Connect (OIDC) authentication and
            authorization server for your self-hosted applications.
        </p>
        <instances-count class="instances-count-container">
            <a
                target="_blank"
                title="Active Instances Dashboard"
                href="https://api.tinyauth.app/dashboard"
                class="instances-count"
            >
                <span id="instances-count">0</span>+ Active Instances
            </a>
        </instances-count>
        <div class="nav-buttons-container">
            <a
                href="/docs/getting-started"
                class="link-button link-button-primary">Get started</a
            >
            <a
                href="https://demo.tinyauth.app"
                class="link-button link-button-secondary">Demo</a
            >
        </div>
        <img alt="Screenshot" src="/tinyauth-dark.png" class="hero-image" />
        <div class="feature-card">
            <Card title="Simple"
                >Tinyauth works out of the box using only environment variables.
                No dashboards or config files needed.</Card
            >
            <Card title="Lightweight"
                >Tinyauth ships as a single statically linked binary with no
                dependencies and requires practically no resources to run.</Card
            >
            <Card title="OAuth and LDAP support"
                >With Tinyauth you can easily log in to your apps using your
                favorite OAuth providers or by using a centralized LDAP server.</Card
            >
            <Card title="OpenID Connect"
                >Tinyauth is the tiniest OIDC server you have ever seen. It is
                designed to be simple and easy to use, with a focus on security
                and performance.</Card
            >
        </div>
        <h1>Join the community</h1>
        <div class="feature-card">
            <Card title="Discord" icon="discord">
                <div class="community-card-body">
                    <p>
                        Join our Discord server to chat with the community, ask
                        questions, and get help.
                    </p>
                    <a
                        href="https://discord.gg/eHzVaCzRRd"
                        class="link-button link-button-secondary">Discord</a
                    >
                </div>
            </Card>
            <Card title="GitHub" icon="github">
                <div class="community-card-body">
                    <p>
                        Check out the source code, report issues, and contribute
                        to the project on GitHub.
                    </p>
                    <a
                        href="https://github.com/steveiliop56/tinyauth"
                        class="link-button link-button-secondary"
                        >Browse the source</a
                    >
                </div>
            </Card>
        </div>
    </div>
</StarlightPage>
