@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainHeader {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gridContainer {
  position: relative;
  min-height: 70dvh;
}

.gridLines {
  position: absolute;
  inset: 0;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--grid-lines-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-lines-color) 1px, transparent 1px);
}

.radialFade {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background-color: var(--ifm-background-color);
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    transparent 20%,
    black
  );
  mask-image: radial-gradient(ellipse at center, transparent 20%, black);
}

.headerWrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  min-height: 70dvh;
}

@media (max-width: 768px) {
  .headerWrapper {
    padding-top: 1rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headerTitle {
  display: inline-block;
  color: #3e63dd;
  font-size: 4.25rem;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 0px;
}

.headerSubtitle {
  display: inline-block;
  color: var(--ifm-color-primary-darkest);
  font-size: 1rem;
  font-weight: 400;
  max-width: 36rem;
}

.quickLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1280px) {
  .quickLinks {
    grid-template-columns: 1fr 1fr;
  }
}

.quickLink {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.15));
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.quickLinkPrimary {
  background-color: #306cce;
  color: var(--ifm-background-color);
}

.quickLinkPrimary:hover {
  background-color: color-mix(in hsl, #306cce, black 10%);
}

[data-theme="dark"] .quickLinkPrimary {
  background-color: #2554a0;
  color: var(--ifm-color-primary);
}

[data-theme="dark"] .quickLinkPrimary:hover {
  background-color: color-mix(in hsl, #2554a0, black 20%);
}

.quickLinkSecondary {
  background-color: var(--ifm-color-gray-200);
}

.quickLinkSecondary:hover {
  background-color: color-mix(in hsl, var(--ifm-color-gray-200), black 10%);
}

[data-theme="dark"] .quickLinkSecondary {
  background-color: var(--ifm-color-gray-800);
}

[data-theme="dark"] .quickLinkSecondary:hover {
  background-color: color-mix(in hsl, var(--ifm-color-gray-800), black 20%);
}

.heroImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grid-lines-color);
  border-radius: 0.5rem;
  filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.12));
  max-width: 600px;
  animation: fadeIn 1s;
}

.browserFrame {
  height: 2rem;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--ifm-color-gray-100),
    var(--ifm-background-color)
  );
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

[data-theme="dark"] .browserFrame {
  background-image: linear-gradient(
    to bottom,
    var(--ifm-color-gray-900),
    var(--ifm-background-color)
  );
}

.browserButton {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.browserButton:hover {
  opacity: 80%;
}

.browserButtonClose {
  background-color: var(--ifm-color-danger);
}

.browserButtonMinimize {
  background-color: var(--ifm-color-warning);
}

.browserButtonMaximize {
  background-color: var(--ifm-color-success);
}

.heroImage {
  object-fit: contain;
  border-radius: 0 0 0.5rem 0.5rem;
}

.featuresContainer {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.featureCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 640px) {
  .featureCards {
    grid-template-columns: 1fr;
  }
}

.featureCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  padding: 1rem 1rem 0.5rem;
  border-radius: 0.6rem;
  background-color: var(--ifm-color-gray-200);
  max-width: 24rem;
  transition-property: transform, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.featuresTitle {
  color: var(--ifm-color-primary-dark);
  font-size: 2rem;
  font-weight: 600;
}

[data-theme="dark"] .featureCard {
  background-color: var(--ifm-color-gray-900);
}

.featureCard:hover {
  transform: translateY(-0.5rem);
  transition: transform 0.2s ease-in-out;
}

.featureCardTitle {
  display: inline-block;
  margin-bottom: 0px;
  color: var(--ifm-color-primary-dark);
  font-size: 1.5rem;
  font-weight: 600;
}

.featureCardDescription {
  display: inline-block;
  margin-bottom: 0px;
  color: var(--ifm-color-primary-darker);
  font-weight: 400;
  font-size: 1rem;
  
}
